* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat', sans-serif;
}
.btn {
  margin: 20px;
  padding: 12px 24px;
  font-size: 18px;
  background-color: #E9967A;
  color: #fff;
  border-radius: 6px;
  border: 0;
  cursor: pointer;
  transition: 250ms linear;
}
.btn:hover {
  background-color: #fff;
  color: #F08080;
  border: 1px solid #F08080;
}
