#logo {
    padding: 10px 0;
    width: fit-content;   
}
#logo img {
    width: 140px;
    padding-right: 20px;
    border-right: 2px solid #e5e5e5;
}
#check {
    display: none;
}

.nav-right {
    display: none;
}
nav {
    margin: 20px 0;
}

nav ul li {
    display: inline;
    padding-right: 3px;
}

nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #858585;
}

.banner {
    height: 500px;
    border-radius: 10px;
    position: relative;
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.banner-text {
    position: absolute;
    bottom: 28px;
    width: 60%;
    padding: 50px;
    color: white;
}

.banner-text h3 {
    font-size: 30px;
}

/* Main */
.title {
    margin: 40px 0;
}

.title h4 {
    font-weight: 300;
}

.col {
    float: left;
}
.col-img {
    position: relative;
}

.col-img img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.col-left, .col-right {
    width: 20%;
}

.col-center {
    width: 60%;
    padding: 0 20px;
}

.col-text {
    margin-top: 20px;
}

.col-text h3 {
    margin-bottom: 20px;
}

.col-text p {
    color: #858585;
}

/* Footer */ 
footer {
    margin-top: 20px;
    padding: 40px 0;
    text-align: center;
    background-color: pink;
}

.love::after {
    content: '\2665';
    color: red;
    font-size: 20px;
}

@media screen and (max-width: 992px) {
    .col-left, .col-right, .col-center {
        width: 100%;
        padding: 0;
    }

    .col {
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 540px) {
    main {
        margin-top: 120px;
    }
    .banner-text p{
        display: none;
    }

    nav {
        display: none;
    }

    nav ul li {
        width: 100%;
        display: block;
        margin: 10px 0;
    }

    .nav-right {
        display: block;
        float: right;
        margin: 20px 0;
    }

    .checkBtn i {
        font-size: 20px;
        cursor: pointer;
    }
}