* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat', sans-serif;
}

.container {
  width: 85%;
  max-width: 1040px;
  margin: 0 auto;
}

.spacing > *+* {
  margin-top: 20px;
}

section {
  text-align: center;
  padding: 120px 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.row > * {
  flex-basis: 30%;
  min-width: 240px;
}

.btn {
  display: inline-block;
  text-decoration: none;
  padding: 8px 20px;
  background-color: var(--color-primary, blue);
  color: var(--color-text, white);
  text-transform: uppercase;
  font-size: 18px;
  border-radius: 6px;
  transition: all 250ms ease-in-out;
}

.btn:hover,
.btn:focus {
  transform: scale(1.1);
  opacity: .9;
}

.hero-title {
  font-size: clamp(48px, calc(5vw + 16px), 64px);
  text-transform: uppercase;
}

.hero {
  text-align: center;
  padding: 240px 0;
  background-color: #292929;
  color: white;
  background: url(../img/shoe-3.png), radial-gradient(#444, #111);
  background-blend-mode: multiply;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
}

.section-title {
    font-size: clamp(40px, calc(5vw + 16px), 64px);
    color: #17353d;
    margin-bottom: 40px;
}

.featured {
  background-color: #eee;
}

.featured-item {
  position: relative;
  display: block;
  transform: scale(.85);
  transition: transform 250ms ease-in-out;
  text-decoration: none;
}

.featured-item:hover,
.featured-item:focus {
  transform: scale(1);
}

.featured-item::after {
  content: "";
  position: absolute;
  background-color: #2193b0;
  border-radius: 50%;
  padding: 80% 80% 0 0;
  top: 0;
  left: 40%;
  z-index: -1;
}

.featured-img {
  width: 100%;
}

.price {
  display: block;
  font-weight: 600;
  font-size: 40px;
  color: #2193b0;
}

.product {
  background: radial-gradient(var(--product-color-inner, limegreen), var(--product-color-outer, purple));
  border-radius: 16px;
  margin-bottom: 64px;
  padding: 48px;
}

.product-title {
  color: white;
  font-size: 48px;
}

.product-description {
  color: white;
  margin-bottom: 20px;
}

.product-image {
  width: 80%;
  margin-top: -60px;
}

/* MEDIA QUERY */ 
@media screen and (min-width: 720px) {
  .product {
    text-align: left;
  }
  .product-image {
    float: right;
    width: 40%;
    /*shape-outside: circle(20%);*/
  }

  .product.product-2 {
    text-align: right;
  }

  .product-2 > .product-image {
    float: left;
    width: 40%;
  }
}

/* CUSTOM VARIABLE*/
.hero {
  --color-primary: #faa700;
}

.product-1 {
  --product-color-inner: #faa700;
  --product-color-outer: #e48d00;
  --color-primary: #a1173c;
}

.product-2 {
  --product-color-inner: #fce4b3;
  --product-color-outer: #eac886;
  --color-primary: #2f4858;
}

.product-3 {
  --product-color-inner: #6dd5ed;
  --product-color-outer: #219bb0;
  --color-primary: #008951;
}